@import "../../global.scss";
.section-three-container {
  background-color: $grayColor;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 100px 150px;
  @include mobile {
    flex-direction: column-reverse;

    padding: 0;
  }
  .section-three-right {
    img {
      @include mobile {
        width: 100%;
      }
    }
  }
  .section-three-left {
    width: 30%;
    @include mobile {
      width: 80%;
      padding: 0;
      margin-left: 0;
    }
    h1 {
      color: $blueColor;
      font-weight: 500;
      width: 310px;
      @include mobile {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    }
    p {
      color: $mainColor;
      font-size: 16px;
      padding-top: 20px;
      width: 340px;
      padding-bottom: 30px;
    }
    ul {
      padding-top: 20px;
      li {
        list-style: none;
      }
    }
    button {
      width: 200px;
      border: none;
      cursor: pointer;
      margin-top: 20px;
      height: 50px;
      background-color: $pinkColor;
      color: $grayColor;
      border-radius: 25px;
    }
  }
}
