@import "../../global.scss";
.section-five-container {
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
  background-color: $grayColor;

  margin-top: 120px;

  @include mobile {
    height: auto;
    padding: 20px;
    margin-top: 20px;
  }
  .section-five-text {
    h1 {
      color: $blueColor;
      @include mobile {
        font-size: 16px;
      }
    }
    p {
      color: $mainColor;
      @include mobile {
        font-size: 16px;
      }
    }
  }
  .section-five-video {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
    @include mobile {
      flex-wrap: none;
      flex-direction: column;
    }
  }
}
