@import "../../global.scss";
.sectionTwo-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 70px;
  height: 600px;
  @include mobile {
    flex-direction: column;

    padding-bottom: 30px;
    height: auto;
  }
}
