@import "../../global.scss";
.four-container {
  width: 33%;
  padding-right: 30px;
  margin-top: 50px;
  @include mobile {
    width: 100%;

    padding: 20px 0;
  }

  img {
    width: 100%;
    @include mobile {
      font-size: 16px;
    }
  }
  h1 {
    color: $blueColor;
    margin-top: 10px;
  }
  p {
    color: $mainColor;
    margin-top: 10px;
    font-size: 16px;
  }
  h2 {
    color: $pinkColor;
    margin-top: 10px;
    font-size: 16px;
  }

  .item {
    background-color: $grayColor;
    height: 100%;
  }
  .four-text {
    padding: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
