@import "../../global.scss";

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .footer-top {
    height: 120px;
    background-color: #cdcdce;
    display: flex;

    padding-left: 200px;
    align-items: center;
    @include mobile {
      padding-left: 20px;
    }
    h1 {
      padding-left: 10px;
      color: $blueColor;
    }
  }
  .footer-bottom {
    color: $grayColor;
    padding: 60px;
    height: 300px;
    background-color: $blueColor;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mobile {
      justify-content: none;
      height: auto;
      flex-direction: column;
      justify-content: none;
    }

    .footer-text-container {
      .footer-text-h1 {
        text-align: end;
        width: 210px;
        margin-top: 50px;
        @include mobile {
          padding-top: 20px;
          text-align: center;
          margin: auto;
        }

        h1 {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .footer-text-p {
        p {
          position: relative;
          top: 60px;
          text-decoration: underline;
          margin-bottom: 30px;
        }
      }
    }
    ul {
      display: flex;
      padding-top: 300px;
      color: #d3d0d0;
      list-style: none;
      @include mobile {
        padding-top: 30px;
        flex-direction: column;
        text-align: center;
      }
      li {
        a {
          font-weight: 200;
          all: unset;
          padding: 5px;
        }
      }
      a:hover {
        cursor: pointer;
        font-weight: 300;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}
