@import "../../global.scss";
.top-Section-container {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    background: url("./img/IVACover.png"),
      linear-gradient(to right, #010c18, #05293f, #005b87);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    img {
      width: 100px;
    }
    @include mobile {
      width: auto;
      background-size: contain;
      background-position: bottom left;
      flex-direction: column;
      height: 400px;
      background-repeat: no-repeat;
    }

    .top-Section-text {
      color: $grayColor;
      font-family: Roboto, "Helvetica Neue";
      width: 33%;
      margin-left: 200px;
      h1 {
        font-size: 24px;
        font-weight: 400;
      }
      @include mobile {
        padding-top: 0;
        min-width: 60%;
        margin: 50px auto;
        margin-left: 40px;
        flex: 1;
        margin-top: 30px;
        h1 {
          font-size: 15px;
        }
        min-width: 60%;

        margin: auto;
        margin-left: 40px;
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: $grayColor;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
    .img-container {
      // padding-left: 150px;
      @include mobile {
        padding-left: 0;
      }
      img {
        width: 500px;
        @include mobile {
          width: 400px;
        }
      }
    }
    .text-container {
      h1 {
        width: 100%;
        color: $blueColor;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 450;
        @include mobile {
          width: 80%;
          font-size: 20px;
          padding-left: 60px;
        }
      }
      p {
        font-size: 18px;
        width: 70%;
        @include mobile {
          font-size: 20px;
          padding-left: 60px;
          padding-bottom: 30px;
        }
      }
    }
  }
}
