@import "../../global.scss";
.topSction-container {
  display: flex;
  flex-direction: column;
  background-color: $grayColor;
  @include mobile {
    height: auto;
  }
  .top {
    display: flex;
    width: 100%;

    img {
      width: 100vw;
      display: flex;
      align-items: flex-end;
      object-fit: cover;

      @include mobile {
        height: 40vh;
      }
    }
    .topSction-text {
      transform: translate(-160%, 10%);
      color: #fff;
      font-family: Roboto, "Helvetica Neue";
      width: 33%;
      margin: 150px 50px;

      h1:nth-child(1) {
        font-weight: 200;
        text-transform: capitalize;
        @include mobile {
          color: #fff;
        }
      }
      h1:nth-child(2) {
        font-weight: 200;
        text-transform: capitalize;
        @include mobile {
          color: #fff;
        }
      }
      h1:nth-child(3) {
        margin-top: 20px;
        @include mobile {
          margin-top: 60px;
        }
      }
      @include mobile {
        position: fixed;
        font-size: 15px;
        color: rgb(12, 32, 63);
        width: 80%;
        padding-right: 100px;
      }
    }
  }
  .bottom {
    display: flex;

    align-items: center;
    justify-self: space-around;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
    .img-container {
      padding-left: 150px;
      @include mobile {
        padding-left: 0;
      }
      img {
        width: 500px;
        @include mobile {
          width: 400px;
        }
      }
    }
    .text-container {
      h1 {
        width: 100%;
        color: $blueColor;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 450;
        @include mobile {
          width: 80%;
          font-size: 20px;
          padding-left: 60px;
        }
      }
      p {
        font-size: 18px;
        width: 70%;
        @include mobile {
          font-size: 20px;
          padding-left: 60px;
        }
      }
    }
  }
}
